name: Build & Deploy Go Microservice

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.22"

      - name: Run tests
        run: go test ./...

      - name: Build Docker image
        run: docker build -t hello-service:${{ github.sha }} .

      - name: Push image
        run: |
          docker tag hello-service:${{ github.sha }} myrepo/hello-service:${{ github.sha }}
          docker push myrepo/hello-service:${{ github.sha }}
